<!DOCTYPE html>
<html>
<head>
    <style>
    h1{
        color:black;
    }
    body{
        background-color: aqua;
    }
    </style>
</head>
<body>
    <h1>
        hello user <%=person %>
    </h1>
</body>
</html>